<div class="author-box">
{% if site.dash.rtl %}
<div class="description">
  <p>BSides Brisbane 2026: Time Travel - Journey through the past, present, and future of cybersecurity!</p>
  <p>Join us for a dynamic and inclusive cyber security conference that transcends time, offering a welcoming environment for individuals at all stages of their professional journey.</p>
</div>
{%- include avatar.html -%}
{% else %}
{%- include avatar.html -%}
<div class="description">
  <p>BSides Brisbane 2026: Time Travel - Journey through the past, present, and future of cybersecurity!</p>
  <p>Join us for a dynamic and inclusive cyber security conference that transcends time, offering a welcoming environment for individuals at all stages of their professional journey.</p>
</div>
{% endif %}
</div>
