{%   assign today = site.time | date: '%s' %}
{%   assign start = '13-07-2024 09:00:00' | date: '%s' %}
{%   assign secondsTo = start | minus: today %}
{%   assign hoursTo = secondsTo | divided_by: 60 | divided_by: 60 %}
{%   assign daysTo = hoursTo | divided_by: 24 %}

<div class="container">
  <div class="Nav">
    <nav>
      <h2>Navigation</h2>
      <p style="font-size:22px">
        {% for item in site.data.navigation %}
          [ <a href="{{ item.link }}" {% if page.url == item.link %}style="color: #777;"{% endif %}>
            {{ item.name }}
          </a> ] <br /> 
        {% endfor %}
      </p>
    </nav>
  </div>
  <div class="Countdown">
    <h2>Event Details</h2>
    <p style="font-size:18px">
      Saturday, 13th July 2024
    </p>
    <p style="font-size:18px">
      {{ daysTo }} days remaining!
    </p>
    <br />
    <p>
      <button onclick="window.open('https://events.humanitix.com/bsides-brisbane-2024?c=web')">
        <strong>Buy tickets now!</strong>
      </button>
    </p>
  </div>
</div>