<div class="toggleWrapper">
    <input type="checkbox" class="dn" id="theme-toggle" onclick="modeSwitcher()" checked />
    <label for="theme-toggle" class="toggle">
    <span class="toggle__handler">
      <span class="crater crater--1"></span>
      <span class="crater crater--2"></span>
      <span class="crater crater--3"></span>
    </span>
        <span class="star star--1"></span>
        <span class="star star--2"></span>
        <span class="star star--3"></span>
        <span class="star star--4"></span>
        <span class="star star--5"></span>
        <span class="star star--6"></span>
    </label>
</div>
<script type="text/javascript">
const theme = localStorage.getItem('theme');

if (theme === "light") {
    document.documentElement.setAttribute('data-theme', 'light');
} else {
    document.documentElement.setAttribute('data-theme', 'dark');
}
const userPrefers = getComputedStyle(document.documentElement).getPropertyValue('content');

function activateDarkTheme() {
    document.getElementById('theme-toggle').checked = true;
    document.documentElement.setAttribute('data-theme', 'dark');
    document.documentElement.classList.add('theme--dark');
    document.documentElement.classList.remove('theme--light');
	document.getElementById("theme-toggle").className = 'light';
	window.localStorage.setItem('theme', 'dark');

    if (window.location.href.indexOf("sponsors.html") > -1) {
        document.getElementById("imgDeiterate").src="/assets/2024/deiterate-dark.png#sponsor";
        document.getElementById("imgPayatu").src="/assets/2024/payatu-dark.png#sponsor";
        document.getElementById("imgSekuro").src="/assets/2024/sekuro-dark.png#sponsor";
        document.getElementById("imgCyberCX").src="/assets/2024/cybercx-dark.png#sponsor";
        document.getElementById("imgTalenza").src="/assets/2024/talenza-dark.svg#sponsor";
        document.getElementById("imgNetskope").src="/assets/2024/netskope-dark.png#sponsor";
    }

    if (window.location.href.indexOf("ctf-rego") > -1) {
        document.getElementById("tm").style.backgroundColor = "#15171A";
        document.getElementById("cpt").style.backgroundColor = "#15171A";
        document.getElementById("mbr").style.backgroundColor = "#15171A";
    }
}

function activateLightTheme() {
    document.getElementById('theme-toggle').checked = false;
    document.documentElement.setAttribute('data-theme', 'light');
    document.documentElement.classList.add('theme--light');
    document.documentElement.classList.remove('theme--dark');
	document.getElementById("theme-toggle").className = 'dark';
	window.localStorage.setItem('theme', 'light');

    if (window.location.href.indexOf("sponsors.html") > -1) {
        document.getElementById("imgDeiterate").src="/assets/2024/deiterate-light.png#sponsor";
        document.getElementById("imgPayatu").src="/assets/2024/payatu-light.png#sponsor";
        document.getElementById("imgSekuro").src="/assets/2024/sekuro-light.png#sponsor";
        document.getElementById("imgCyberCX").src="/assets/2024/cybercx-light.png#sponsor";
        document.getElementById("imgTalenza").src="/assets/2024/talenza-light.svg#sponsor";
        document.getElementById("imgNetskope").src="/assets/2024/netskope-light.png#sponsor";
    }

    if (window.location.href.indexOf("ctf-rego") > -1) {
        document.getElementById("tm").style.backgroundColor = "#DAE4ED";
        document.getElementById("cpt").style.backgroundColor = "#DAE4ED";
        document.getElementById("mbr").style.backgroundColor = "#DAE4ED";
    }

}

if (theme === "dark") {
    activateDarkTheme();
} else if (theme === "light") {
    activateLightTheme();
} else if  (userPrefers === "light") {
    activateDarkTheme();
} else {
    activateDarkTheme();
}

function modeSwitcher() {
	let currentMode = document.documentElement.getAttribute('data-theme');
	if (currentMode === "dark") {
	    activateLightTheme();
	} else {
	    activateDarkTheme();
	}
}
</script>