body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  @include themed() {
      background-color: t('background-color-alt');
      color: t('foreground-color');
  }
}

body, html {
  margin: 0;
  padding: 0;
}

*:focus {
    outline: none;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: calc($spacing-unit / 3);
}

p {
  margin: 0.5em 0;
}

figure {
  width: 100%;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: $color-orange;
}

/**
 * `main` element
 */
main {
  display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
}

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}

/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}

/**
 * Lists
 */
ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

video {
  width: 100%;
  border-radius: 0.3em;
}

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: $base-font-weight;
  margin-top: 1em;
  margin-bottom: 0.4em;
  text-align: left;
}

/**
 * Links
 */
a {
  color: $color-yellow;
  text-decoration: none;

  &:hover {
    @include themed() {
       color: t('foreground-color');
    }
    text-decoration: underline;
  }

  .social-media-list &:hover {
    text-decoration: none;

    .username {
      text-decoration: underline;
    }
  }
}


/**
 * Blockquotes
 */
blockquote {
  @include themed() {
        color: t('background-color');
  }
  @include relative-font-size(1.125);
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}



/**
 * Code formatting
 */
pre,
code {
  @include relative-font-size(0.9375);
  border-radius: 0.3em;
  @include themed() {
     background-color: $color-background-dark;
     color: $color-foreground;
  }
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
  max-width:         calc(#{$content-width} - (#{$spacing-unit}));
  margin-right: auto;
  margin-left: auto;
  padding-right: calc($spacing-unit / 2);
  padding-left: calc($spacing-unit / 2);
  @extend %clearfix;

  @media screen and (min-width: $on-large) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
  }
}



/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}


.presenters th, td {
  padding: 5px;
}

/**
 * Sponsor logo formatting for consistency
 */
img[src$="#sponsor"] {
  height: auto; 
  width: auto; 
  max-width: 300px; 
  max-height: 300px;
}

.sponsor {
  height: auto; 
  width: auto; 
  max-width: 300px; 
  max-height: 300px;
}

.container {  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Nav Countdown";
}

.Nav { grid-area: Nav; }

.Countdown { grid-area: Countdown; }


#buy {
  width: 200px;
  height: 62px;
  cursor: pointer;
  color: #fff;
  font-size: 17px;
  border-radius: 1rem;
  border: none;
  position: relative;
  background: #100720;
  transition: 0.1s;
}

#buy::after {
  content: '';
  width: 100%;
  height: 100%;
  background-image: radial-gradient( circle farthest-corner at 10% 20%, $color-bright-yellow 17.8%, $color-orange 100.2% );
  filter: blur(15px);
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
}

#buy:active {
  transform: scale(0.9) rotate(3deg);
  background: radial-gradient( circle farthest-corner at 10% 20%, $color-bright-yellow 17.8%, $color-orange 100.2% );
  transition: 0.5s;
}

.regobtn {
  display: inline-block;
  border-radius: 4px;
  background-color: #F24784;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 22px;
  padding: 14px;
  width: 140px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 3px;
}

.regobtn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.regobtn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.regobtn:hover span {
  padding-right: 25px;
}

.regobtn:hover span:after {
  opacity: 1;
  right: 0;
}

.trackbtn1 {
  display: inline-block;
  border-radius: 4px;
  background-color: #F24784;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 140px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 3px;
}

.trackbtn1:hover {
  background-color: #fc985e;
}

.trackbtn1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.trackbtn1 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.trackbtn1:hover span {
  padding-right: 25px;
}

.trackbtn1:hover span:after {
  opacity: 1;
  right: 0;
}

.trackbtn2 {
  display: inline-block;
  border-radius: 4px;
  background-color: rgba(255,94,247,1);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 140px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 3px;
}

.trackbtn2:hover {
  background-color: rgba(2,245,255,1);
}

.trackbtn2 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.trackbtn2 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.trackbtn2:hover span {
  padding-right: 25px;
}

.trackbtn2:hover span:after {
  opacity: 1;
  right: 0;
}

.trackbtn3 {
  display: inline-block;
  border-radius: 4px;
  background-color: rgba(149,159,10,1);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 140px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 3px;
}

.trackbtn3:hover {
  background-color: rgba(106,96,245);
}

.trackbtn3 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.trackbtn3 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.trackbtn3:hover span {
  padding-right: 25px;
}

.trackbtn3:hover span:after {
  opacity: 1;
  right: 0;
}


.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 40px;
}

.ic2 {
  margin-top: 30px;
}

.input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.cut {
  background-color: #15171a;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 120px;
}

.cut-short {
  width: 85px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.placeholder {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}

.input:focus ~ .placeholder {
  color: #dc2f55;
}