<!DOCTYPE html>
<html class="{% if site.dash.rtl %}direction--rtl{% else %}direction--ltr{% endif %}"lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    <!-- Animated Background Effect -->
    <css-doodle class="animated-background">
      :doodle {
        @grid: 300x1/ 50vmin;
      }
      :container {
        perspective: 15vmin;
      }
      
      @place-cell: center;
      @size: 50% 1px;
      
      will-change: transform, opacity;
      transform-style: preserve-3d;
      
      background: linear-gradient(to left,
        @multi(@p([2-4]), @p(#FD632F, #F7A899, #AE9CC4, #38324E, #06031E)),
        transparent @r(60%)
      );

      animation: move @r(1.5s, 3s, .1) linear infinite;
      animation-delay: -@r(.1s, 3s);

      --trans:
        translateX(50%)
        rotateX(@r(-180deg, 180deg))
        rotateY(@r(-180deg, 180deg))
        rotateZ(@r(-180deg, 180deg));

      transform-origin: 0 center;
      transform: var(--trans) scale(2);
      opacity: 0;

      @keyframes move {
        20% { opacity: 0.8; }
        100% { transform: var(--trans) scale(0); }
      }
    </css-doodle>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}
    <script>
      window.FontAwesomeConfig = {
        searchPseudoElements: true
      }
    </script>
  </body>

</html>
